/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0d1d1;
    overflow-x: hidden;
}

footer {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b3aeae;
    color: #333;
    text-align: center;

}

.site-title {
    position: fixed; /* Fixe le titre en haut même en scrollant */
    font-weight: bold;
    top: 10px;
    left: 50%;
    transform: translateX(-50%); /* Centre horizontalement */
    background: #dde2e8; /* Même couleur de fond que le menu */
    color: #333; /* Couleur du texte cohérente avec le menu */
    padding: 10px 20px;
    border-radius: 8px; /* Coins arrondis pour correspondre au style du menu */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); /* Même ombre que le menu */
    font-size: 1.5em;
    text-align: center;
    z-index: 1100; /* Assure que le titre reste au-dessus des autres éléments */
}

/* Conteneur principal avec deux sections */
#container {
    display: flex;
    flex-direction: column;
    height: 200vh; /* Permet le scroll vers la section résultats */
    overflow-y: auto; /* Permet le défilement sans afficher la barre */
    scrollbar-width: none; /* Cache la barre de défilement sur Firefox */
}

#container::-webkit-scrollbar {
    display: none;
}


#map {
    height: 800px;
    width: 100%;
    border-radius: 10px;
    margin: 20px;
}


.map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
}

/* Menu latéral */
#menu {
    position: fixed;
    top: 0;
    right: -280px; /* Laisse 40px de place à droite pour le bouton */
    width: 300px;
    height: 100vh;
    background: #dde2e8;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: right 0.3s ease;
    display: flex;
    z-index: 1000; /* Assure qu'il est au premier plan */
    flex-direction: column;
    align-items: center;
    opacity: 0.85;
}

#menu.visible {
    right: 0; /* Le menu s'ouvre complètement */
}

/* Bouton menu à droite */
#menu-toggle {
    position: fixed;
    top: 20px;
    right: 10px; /* Positionné dans l'espace laissé par le menu fermé */
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    z-index: 1100;
    transition: transform 0.3s ease; /* Animation pour le survol */
}

/* Ajout d'un hover */
#menu-toggle:hover {
    transform: scale(1.1); /* Légère mise en avant au survol */
    color: #555; /* Couleur légèrement plus claire au survol */
}


/* Bouton pour fermer le menu */
#close-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ff6b6b; /* Couleur rouge pastel */
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: black; /* Texte blanc */
    border-radius: 50%; /* Bouton rond */
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Légère ombre */
    transition: background 0.3s ease, transform 0.2s ease;
}

#close-menu:hover {
    background: #ff4c4c; /* Rouge plus foncé au survol */
    transform: scale(1.1); /* Légère mise en avant au survol */
}

/* Style pour les boutons désactivés */
button:disabled {
    cursor: not-allowed; /* Change le curseur pour indiquer qu'il est désactivé */
    display: none; /* Cache le bouton */
}




/* Styles pour les labels et les champs du formulaire dans le menu */
#menu form {
    display: flex;
    flex-direction: column; /* Aligne les éléments verticalement */
    gap: 15px; /* Ajoute un espacement uniforme entre les éléments */
    margin-top: 20px; /* Ajoute un espace au-dessus du formulaire */
    border: none;
}

#menu label {
    font-size: 1em; /* Taille de police pour les labels */
    color: #333; /* Couleur cohérente avec le menu */
    margin-bottom: 5px; /* Espacement entre le label et son champ */
}

#menu input,
#menu select {
    width: auto; /* Prend toute la largeur disponible */
    padding: 10px; /* Ajoute de l'espace interne */
    border: 1px solid #ccc; /* Bordure légère */
    border-radius: 5px; /* Coins arrondis */
    font-size: 1em; /* Taille de police cohérente */
}

.suggestions {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    z-index: 1000;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
}

.suggestions div {
    padding: 8px;
    cursor: pointer;
}

.suggestions div:hover {
    background: #f0f0f0;
}


.btn-disabled {
    background-color: gray;
    cursor: not-allowed;
    opacity: 0.5;
}

.btn-active {
    background-color: green;
    width: auto; /* Prend toute la largeur disponible */
    padding: 10px; /* Ajoute de l'espace interne */
    border: 1px solid #ccc; /* Bordure légère */
    border-radius: 5px; /* Coins arrondis */
    font-size: 1em; /* Taille de police cohérente */
    cursor: pointer;

    transition: background-color 0.3s;
}

.btn-active:hover {
    transform: scale(1.05); /* Légère mise en avant au survol */
}



/*Style pour le lien avec la popup compte*/

#account-section {
    background: #f0f4f8; /* Couleur pastel claire */
    padding: 10px;
    border-radius: 5px; /* Coins arrondis */
    margin-bottom: 20px; /* Espacement avec le formulaire */
    margin-top: 20px;
    text-align: center;
}

#account-section:hover {
    transform: scale(1.1); /* Légère mise en avant au survol */
    background: #e0e8f0; /* Couleur légèrement plus foncée au survol */
}

#account-link {
    font-size: 1.5em;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

#account-link:hover {
    transform: scale(1.1); /* Légère mise en avant au survol */
    color: #555;
}











/* Styles pour la popup */

#account-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#account-popup.hidden {
    display: none; /* Cache la popup */
}

.popup-content {
    position: relative; /* Nécessaire pour positionner la croix à l'intérieur */
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}


/* Bouton pour fermer la popup */
#close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ff6b6b; /* Couleur rouge pastel */
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: black; /* Texte blanc */
    border-radius: 50%; /* Bouton rond */
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Légère ombre */
    transition: background 0.3s ease, transform 0.2s ease;
}

#close-popup:hover {
    background: #ff4c4c; /* Rouge plus foncé au survol */
    transform: scale(1.1); /* Légère mise en avant au survol */
}








/* Espacement et style des formulaires dans la popup */
.popup-content form {
    display: flex;
    flex-direction: column; /* Aligne les éléments verticalement */
    gap: 15px; /* Ajoute un espacement uniforme entre les éléments */
    margin-top: 20px; /* Ajoute un espace au-dessus de chaque formulaire */
}


.popup-content input {
    width: calc(105% - 20px); /* Ajuste la largeur pour correspondre aux boutons */
    padding: 10px; /* Ajoute de l'espace interne */
    border: 1px solid #ccc; /* Bordure légère */
    border-radius: 5px; /* Coins arrondis */
    font-size: 1em; /* Taille de police cohérente */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
}

/* Styles pour les champs avec placeholders */
.popup-content input::placeholder {
    color: rgba(0, 0, 0, 0.5); /* Texte transparent (gris clair) */
    font-style: italic; /* Style en italique pour différencier le placeholder */
}

.popup-content button:not(#close-popup) {
    background: #a5c8d8; /* Couleur pastel pour les boutons */
    color: white; /* Texte blanc */
    cursor: pointer;
    border: none; /* Supprime les bordures supplémentaires */
    padding: 10px 20px;
    border-radius: 5px; /* Coins arrondis */
    font-size: 1em;
    transition: background 0.3s ease; /* Animation pour le survol */
}

.popup-content button:not(#close-popup):hover {
    background: #8bb0c1; /* Couleur légèrement plus foncée au survol */
    transform: scale(1.01); /* Légère mise en avant au survol */

}


















/* Deuxième section : Résultats */
/* Style général pour la section des résultats */
#results {
    padding: 40px;
    height: 100vh;
    background-color: #dde2e8;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 1.1em;
}

/* Cacher la section 'Voyage calculé' avant que le voyage soit confirmé */
#trip-calculated {
    display: none; /* Caché par défaut */
}

/* Version sans voyage confirmé */
#no-trip {
    display: block;
}

/* Titre des sections */
#results h2, #results h3 {
    color: #007b7f;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Formulaire de planification de voyage */
#trip-form label {
    display: block;
    margin-top: 10px;
}

#trip-form input, #trip-form select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#trip-form button {
    background-color: #00b894;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
}

/* Résumé du voyage */
.summary {
    margin-top: 20px;
}

/* Consommation de CO2 */
.co2-consumption {
    margin-top: 30px;
}

/* Comparaison amusante */
.fun-comparisons {
    margin-top: 40px;
}

/* Classement des utilisateurs */
.user-ranking {
    margin-top: 40px;
}


